*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    border: 1px solid black;
}
.form_data{
    margin-bottom: 20px ;
}

.px-5{
    padding: 90px ;

}
.image_cont{
    margin-top: 50px;
}
.col_img{

}
.col_even {
    border: 1px solid black;
    background: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));
    color: rgb(84, 80, 80);
}
.col_odd {
    border: 1px solid black;
    background: linear-gradient(180deg, #2af598 0%, #009efd 100%);
}

.col_img{
border: 1px solid red;
height: 250px;

}
.col_img img{
 object-fit: contain;
}